# Terraform
terraform/backend.hcl
terraform/terraform.tfvars
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate*

.env
scripts/backend-env.yaml
*.db
*.db-shm
*.db-wal
job_outputs

# Data archives
*.zip
*.tar.gz
*.tar.bz2
