# Terraform
terraform/backend.hcl
terraform/terraform.tfvars
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate*

.env
*.db
job_outputs

# Data archives
*.zip
*.tar.gz
*.tar.bz2
